<!-- Simplified header -->
<header class="header" role="banner">
  <div
    class="header-inner container-fluid align-items-center"
    style="display: flex; gap: 24px"
  >
    <div
      class="title text-start"
      style="
        flex: 0 0 auto;
        font-size: 2rem;
        font-weight: 700;
        color: var(--brand-blue);
        margin-right: 120px;
        text-decoration: none;
      "
    >
      IC‑NBITS <span class="site-year">2026</span>
    </div>

    <div class="logo" style="flex: 0 0 auto">
      <a href="#home" aria-label="IC NBITS Home">
        <img
          src="/images/Picture1.png"
          alt="IC-NBITS Logo"
          class="header-logo"
          style="width: 140px; height: auto"
        />
      </a>
    </div>

    <div class="nav ms-auto">
      <nav
        class="navbar navbar-expand-lg"
        role="navigation"
        aria-label="Main Navigation"
      >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#mainNav"
          aria-controls="mainNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNav">
          <ul class="navbar-nav me-3">
            <li class="nav-item">
              <a class="nav-link" href="#Aboutsec">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Paperssec">Call for <br />Papers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#AuthorsGuidelinessec"
                >Author's <br />Guidelines</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#SubmissionGuidelinessec"
                >Submission's <br />Guidelines</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#SubmissionProcesssec"
                >Submission <br />Process</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Committeesec">Organizing Committee</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Feesec">Registration <br />Fees</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Contactsec">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
