  
    <!-- Submission Process Section -->
    <section id="SubmissionProcesssec" class="padding">
      <div class="container">
        <h2 class="section-title">Submission Process</h2>
        <div class="row justify-content-center mb-5">
          <div class="col-lg-10">
            <div class="card shadow-sm border-0 mb-4">
              <div class="card-body p-5">
                <div class="mb-3">
                  <p>
                    The submission process is managed through the Microsoft CMT
                    system.
                  </p>
                  <ul>
                    <li>
                      <strong
                        >Submission Link: CMT submission link will be coming
                        shortly</strong
                      >
                    </li>
                    <li>
                      Here is a link to create the account: <br />
                      <a
                        href="https://cmt3.research.microsoft.com/docs/help/general/account-creation.html"
                        >https://cmt3.research.microsoft.com/docs/help/general/account-creation.html</a
                      >
                    </li>
                    <li>
                      Here is a link for authors on how to submit a paper:
                      <br />
                      <a
                        href="https://cmt3.research.microsoft.com/docs/help/author/author-submission-form.html"
                        >https://cmt3.research.microsoft.com/docs/help/author/author-submission-form.html</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Submission Process Section End -->
